div(class='flex-row')
  div(class='dropdown')
    button#btn-settings
      i(class='ri-equalizer-fill')
    div(class='dropdown-content bottom-end')
      h2 Theme
      div(class="flex-row")
        button#scheme-light
          div(class="flex-row")
            i(class="ri-sun-fill")
            | Light
        button#scheme-dark(class="button-inverted")
          div(class="flex-row")
            i(class="ri-moon-clear-fill")
            | Dark
        button#scheme-auto(class="button-nostyle relative")
          div(class="button gradient-left")
            div(class="flex-row")
              i(class='ri-palette-fill')
              | Auto
          div(class="button-inverted absolute gradient-right")
            div(class="flex-row")
              i(class='ri-palette-fill')
              | Auto
      h2 Settings
      label#colored-players(class="checkbox flex-row")
        input(type="checkbox")
        div
        | Colored Players
