extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas#arena(width='320px' height='200px')
  canvas#arenaWS(width='320px' height='200px')
  #log
  input(type='button' value=' start ' id='btn-start-game')
