extends layout

block content
  h1= title
  p Welcome to #{title}
  div#screen
    canvas#arena
    #playernames
    #scores
  input(type='button' value=' start ' id='btn-start-game')
  #gamestats
    h1#ping
  #log
