extends layout

block content
  h1= title
  p Welcome to #{title}
  div#screen
    canvas#arena
    div#playernames
    div#scores
  #log
  input(type='button' value=' start ' id='btn-start-game')
  div#gamestats
    h1#ping
