extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas#arena(width='640px' height='480px')
  #log
  input(type='button' value=' start ' id='btn-start-game')
  input(type='button' value=' test ws ' id='btn-test-ws')
