doctype html
html
  head
    title= title

    link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png')
    link(rel='manifest' href='/favicon/site.webmanifest')
    link(rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color='#5bbad5')
    link(rel='shortcut icon' href='/favicon/favicon.ico')
    meta(name='msapplication-TileColor' content='#454450')
    meta(name='msapplication-config' content='/favicon/browserconfig.xml')
    meta(name='theme-color' content='#454450')

    link(rel='stylesheet', href='/remixicon/remixicon.css')
    style
      include ../public/stylesheets/var.css
      include ../public/stylesheets/layout.css
      include ../public/stylesheets/defaults.css
      include ../public/stylesheets/flex.css
      include ../public/stylesheets/dropdown.css
      include ../public/stylesheets/form.css
      include ../public/stylesheets/style.css
      include ../public/stylesheets/components.css

    script(src='/javascripts/page.js' type='module')
  body
    block content
