doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/include.js')
    script(src='/javascripts/player.class.js')
    script(src='/javascripts/arena.class.js')
    script(src='/javascripts/game.js')
  body(onload='game.init()')
    block content
