#arena {
  display: none;
  width: 100%;
  height: 100%;
  max-height: calc((100vw - 2 * var(--body-padding-horizontal)) * 0.625);
}

#lobby {
  width: 100%;
  height: 100%;
}

#gamelisttable {
  width: 100%;
}

#playerstable {
  width: 100%;
}

#playersconfig {
  width: 100%;
  height: 100%;
}

#playernames {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#playerpos0 {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 200px;
  text-align: center;
}
#playerpos1 {
  position: absolute;
  top: 75px;
  right: 0px;
  width: 200px;
  text-align: center;
}
#playerpos2 {
  position: absolute;
  top: 175px;
  left: 0px;
  width: 200px;
  text-align: center;
}
#playerpos3 {
  position: absolute;
  top: 175px;
  right: 0px;
  width: 200px;
  text-align: center;
}
#playerpos4 {
  position: absolute;
  top: 275px;
  left: 0px;
  width: 200px;
  text-align: center;
}
#playerpos5 {
  position: absolute;
  top: 275px;
  right: 0px;
  width: 200px;
  text-align: center;
}

#scores {
  width: 100%;
  height: 100%;
}

#scores-waiting {
  display: none;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#scores-waiting-overlay,
#scores-waiting-message {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#scores-waiting-overlay {
  background-color: var(--color-bg);
  opacity: 0.8;
}

#scores-waiting-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

#log {
  position: absolute;
  bottom: var(--body-padding-vertical);
  right: var(--body-padding-horizontal);
  color: var(--color-fg-muted);
  text-align: right;
}

#palette {
  display: none;
}

#palette .color {
  border: 1px solid var(--color-fg-muted);
  width: 24px;
  height: 24px;
}

#gamestats {
  display: none;
  color: var(--color-fg-muted);
}

#btn-left,
#btn-right {
  touch-action: manipulation;
}
