html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  margin: 0px;
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--color-water);
}
