.flex-row {
  display: flex;
  column-gap: var(--size-tiny);
}
.flex-row.small-gap {
  column-gap: var(--size-small);
}
.flex-row.medium-gap {
  column-gap: var(--size-medium);
}
.flex-row.large-gap {
  column-gap: var(--size-large);
}
.flex-row.huge-gap {
  column-gap: var(--size-huge);
}

.flex-column {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-tiny);
}
.flex-column.small-gap {
  row-gap: var(--size-small);
}
.flex-column.medium-gap {
  row-gap: var(--size-medium);
}
.flex-column.large-gap {
  row-gap: var(--size-large);
}
.flex-column.huge-gap {
  row-gap: var(--size-huge);
}
