.flex-row {
  display: flex;
  column-gap: var(--size-tiny);
  row-gap: var(--size-tiny);
}
.flex-column {
  display: flex;
  flex-direction: column;
  column-gap: var(--size-tiny);
  row-gap: var(--size-tiny);
}

.small-gap {
  column-gap: var(--size-small);
  row-gap: var(--size-small);
}
.medium-gap {
  column-gap: var(--size-medium);
  row-gap: var(--size-medium);
}
.large-gap {
  column-gap: var(--size-large);
  row-gap: var(--size-large);
}
.huge-gap {
  column-gap: var(--size-huge);
  row-gap: var(--size-huge);
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
