html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

#screen {
  position: relative;
  width: 640px;
  height: 400px;
}

#arenaWS {
  width: 100%;
  height: 100%;
}

#playernames {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#scores {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#log {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: #ccc;
  text-align: right;
}

#gamestats {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #ccc;
}
