:root {
  color-scheme: light dark;

  --color-bg: light-dark(#faf3e1, #2c343a);
  --color-bg-hl: light-dark(#f6ebc8, #374149);
  --color-fg: light-dark(#4f5b62, #e7dcc4);
  --color-fg-muted: light-dark(#9a9071, #6e7b85);
  --color-rose: light-dark(#f85550, #e67c7f);
  --color-leaf: light-dark(#8da200, #a9c181);
  --color-wood: light-dark(#dea000, #ddbd7f);
  --color-water: light-dark(#3a94c4, #7fbcb4);
  --color-blossom: light-dark(#df69ba, #d69ab7);
  --color-sky: light-dark(#36a87e, #83c193);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: var(--color-water);
}

select,
select option,
button,
input {
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 1px solid;
  border-color: var(--color-fg);
  border-radius: 4px;
  outline: none;
}

select:hover,
button:hover,
input:hover,
select:focus,
button:focus,
input:focus {
  background-color: var(--color-bg-hl);
}

select:invalid,
input::placeholder {
  color: var(--color-fg-muted);
}

select:disabled,
button:disabled,
input:disabled {
  color: var(--color-fg-muted);
  border-color: var(--color-fg-muted);
}

th {
  text-align: left;
}

select:required:invalid {
  color: var(--color-fg-muted);
}
option[value=""][disabled] {
  display: none;
}

#screen {
  position: relative;
  width: 640px;
  height: 400px;
}

#arena {
  display: none;
  width: 100%;
  height: 100%;
}

#lobby {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#footer-lobby {
  display: none;
}

#gamelisttable {
  width: 100%;
}

#playerstable {
  width: 100%;
}

#playersconfig {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#footer-playersconfig {
  display: none;
}

#playernames {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#playerpos0 {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 200px;
  text-align: center;
}
#playerpos1 {
  position: absolute;
  top: 75px;
  right: 0px;
  width: 200px;
  text-align: center;
}
#playerpos2 {
  position: absolute;
  top: 175px;
  left: 0px;
  width: 200px;
  text-align: center;
}
#playerpos3 {
  position: absolute;
  top: 175px;
  right: 0px;
  width: 200px;
  text-align: center;
}
#playerpos4 {
  position: absolute;
  top: 275px;
  left: 0px;
  width: 200px;
  text-align: center;
}
#playerpos5 {
  position: absolute;
  top: 275px;
  right: 0px;
  width: 200px;
  text-align: center;
}

#scores {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#footer-game {
  display: none;
}

#log {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: var(--color-fg-muted);
  text-align: right;
}

#gamestats {
  position: absolute;
  top: 50px;
  right: 50px;
  color: var(--color-fg-muted);
}
