html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

th {
  text-align: left;
}

select:required:invalid {
  color: #666;
}
option[value=""][disabled] {
  display: none;
}

#screen {
  position: relative;
  width: 640px;
  height: 400px;
}

#arena {
  display; none;
  width: 100%;
  height: 100%;
}

#lobby {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#footer-lobby {
  display: none;
}

#gamelisttable {
  width: 100%;
}

#playerstable {
  width: 100%;
}

#playersconfig {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#footer-playersconfig {
  display: none;
}

#playernames {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#playerpos0 {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 160px;
  text-align: center;
}
#playerpos1 {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 160px;
  text-align: center;
}
#playerpos2 {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 160px;
  text-align: center;
}
#playerpos3 {
  position: absolute;
  top: 180px;
  right: 0px;
  width: 160px;
  text-align: center;
}
#playerpos4 {
  position: absolute;
  top: 280px;
  left: 0px;
  width: 160px;
  text-align: center;
}
#playerpos5 {
  position: absolute;
  top: 280px;
  right: 0px;
  width: 160px;
  text-align: center;
}

#scores {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#footer-game {
  display: none;
}

#log {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: #ccc;
  text-align: right;
}

#gamestats {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #ccc;
}
