:root {
  color-scheme: light dark;

  --color-bg: light-dark(#faf3e1, #2c343a);
  --color-bg-hl: light-dark(#f6ebc8, #374149);
  --color-fg: light-dark(#4f5b62, #e7dcc4);
  --color-fg-muted: light-dark(#9a9071, #6e7b85);
  --color-rose: light-dark(#f85550, #e67c7f);
  --color-leaf: light-dark(#8da200, #a9c181);
  --color-leaf-hl: light-dark(#738400, #bed09f);
  --color-wood: light-dark(#dea000, #ddbd7f);
  --color-water: light-dark(#3a94c4, #7fbcb4);
  --color-blossom: light-dark(#df69ba, #d69ab7);
  --color-sky: light-dark(#36a87e, #83c193);

  --size-tiny: 5px;
  --size-small: calc(var(--size-tiny) * 1.618);
  --size-medium: calc(var(--size-small) * 1.618);
  --size-large: calc(var(--size-medium) * 1.618);
  --size-huge: calc(var(--size-large) * 1.618);
}
