:root {
  color-scheme: light dark;

  /*
    colors will be made available by public/javascripts/cssColors.js as classes
    "fg-bg", ..., "fg-sky" to set color and "bg-bg", ..., "bg-sky" to set background color
  */
  --color-bg: light-dark(#faf3e1, #2c343a);
  --color-bg-hl: light-dark(#f6ebc8, #374149);
  --color-bg-muted: light-dark(#eee7d0, #404040);

  --color-fg: light-dark(#4f5b62, #e7dcc4);
  --color-fg-hl: light-dark(#ac995f, #537ea0);
  --color-fg-muted: light-dark(#9a9071, #6e7b85);

  --color-rose: light-dark(#f85550, #e67c7f);
  --color-rose-hl: light-dark(
    hsl(from var(--color-rose) h calc(s * 1.2) calc(l * 1.2)),
    hsl(from var(--color-rose) h calc(s * 1.1) calc(l * 0.9))
  );
  --color-rose-muted: light-dark(
    hsl(from var(--color-rose) h calc(s * 0.4) calc(l * 1.15)),
    hsl(from var(--color-rose) h calc(s * 0.4) calc(l * 0.65))
  );

  --color-leaf: light-dark(#8da200, #a9c181);
  --color-leaf-hl: light-dark(
    hsl(from var(--color-leaf) h calc(s * 1.3) calc(l * 1.1)),
    hsl(from var(--color-leaf) h calc(s * 1.3) calc(l * 0.9))
  );
  --color-leaf-muted: light-dark(
    hsl(from var(--color-leaf) h calc(s * 0.4) calc(l * 1.8)),
    hsl(from var(--color-leaf) h calc(s * 0.4) calc(l * 0.7))
  );

  --color-wood: light-dark(#dea000, #ddbd7f);
  --color-wood-hl: light-dark(
    hsl(from var(--color-wood) h calc(s * 1.3) calc(l * 1.1)),
    hsl(from var(--color-wood) h calc(s * 1.3) calc(l * 0.9))
  );
  --color-wood-muted: light-dark(
    hsl(from var(--color-wood) h calc(s * 0.6) calc(l * 1.5)),
    hsl(from var(--color-wood) h calc(s * 0.6) calc(l * 0.7))
  );

  --color-water: light-dark(#3a94c4, #7fbcb4);
  --color-water-hl: light-dark(
    hsl(from var(--color-water) h calc(s * 1.3) calc(l * 1.3)),
    hsl(from var(--color-water) h calc(s * 1.3) calc(l * 0.7))
  );
  --color-water-muted: light-dark(
    hsl(from var(--color-water) h calc(s * 0.4) calc(l * 1.5)),
    hsl(from var(--color-water) h calc(s * 0.4) calc(l * 0.7))
  );

  --color-blossom: light-dark(#df69ba, #d69ab7);
  --color-blossom-hl: light-dark(
    hsl(from var(--color-blossom) h calc(s * 1.3) calc(l * 1.2)),
    hsl(from var(--color-blossom) h calc(s * 1.3) calc(l * 0.8))
  );
  --color-blossom-muted: light-dark(
    hsl(from var(--color-blossom) h calc(s * 0.4) calc(l * 1.3)),
    hsl(from var(--color-blossom) h calc(s * 0.4) calc(l * 0.7))
  );

  --color-sky: light-dark(#36a87e, #83c193);
  --color-sky-hl: light-dark(
    hsl(from var(--color-sky) h calc(s * 1.2) calc(l * 1.2)),
    hsl(from var(--color-sky) h calc(s * 1.2) calc(l * 0.8))
  );
  --color-sky-muted: light-dark(
    hsl(from var(--color-sky) h calc(s * 0.6) calc(l * 1.6)),
    hsl(from var(--color-sky) h calc(s * 0.6) calc(l * 0.7))
  );

  --color-rock: light-dark(#a269df, #c39ad6);
  --color-rock-hl: light-dark(
    hsl(from var(--color-rock) h calc(s * 1.3) calc(l * 1.2)),
    hsl(from var(--color-rock) h calc(s * 1.3) calc(l * 0.8))
  );
  --color-rock-muted: light-dark(
    hsl(from var(--color-rock) h calc(s * 0.4) calc(l * 1.2)),
    hsl(from var(--color-rock) h calc(s * 0.4) calc(l * 0.7))
  );

  --size-tiny: 5px;
  --size-small: calc(var(--size-tiny) * 1.618);
  --size-medium: calc(var(--size-small) * 1.618);
  --size-large: calc(var(--size-medium) * 1.618);
  --size-huge: calc(var(--size-large) * 1.618);
}
