mixin buttonGradient({id})
  button(id=id class="button-nostyle relative")
    div(class="button gradient-left")
      div(class="flex-row")
        block
    div(class="button-inverted absolute gradient-right")
      div(class="flex-row")
        block
